body{

}
.container{
    width: 70%;
    margin: auto;
    margin-top: 6rem;
    height: auto;
    padding: 10px;
}
.nav-bar{
    width: 100%;
    display: flex;
}
.nav-bar input[type="search"]{
    padding: 10px;
    width: 52%;
    border-radius: 7px;
    margin-right: 3rem;
    background-color: #111;
    color: white;
    border: 1px solid white;
}
.nav-bar button{
    margin-right: 3rem;
    border-radius: 6px;
    background-color: #111;
    color: white;
    border: 1px solid white;
    width: 15%;
}
.card{

}
.card-item{
    border-bottom:1px solid white ;
    border-bottom: 1px solid white;
    display: flex;
    padding: 12px;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}
.card-item img{
    width: 3%;
}
.card-item p{
    text-transform: uppercase;
}
